/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/* CSS Variables */
:root {
	--ff: 'Manrope', sans-serif;
	--max-width: 33.75rem;

	--clr-primary: hsl(193, 38%, 86%);
	--clr-secondary: hsl(150, 100%, 66%);

	--clr-neutral: hsl(217, 19%, 38%);
	--clr-neutral-darker: hsl(217, 19%, 24%);
	--clr-neutral-darkest: hsl(218, 23%, 16%);
}

/* Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

button {
	border: none;
	cursor: pointer;
}

/* Main Styling */
body {
	background-color: var(--clr-neutral-darkest);
	color: var(--clr-primary);
	font-family: var(--ff);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1.5;
	padding: 1rem;
}

.card {
	max-width: var(--max-width);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 3.25rem;
	padding-bottom: 4rem;
	background-color: var(--clr-neutral-darker);
	border-radius: 1rem;
	position: relative;
}

.advice-heading {
	color: var(--clr-secondary);
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.875rem;
	letter-spacing: 5px;
	margin-bottom: 1.3125rem;
}

.advice-text {
	font-size: 1.75rem;
	font-weight: 800;
	line-height: 1.4;
	margin-bottom: 2.5rem;
}

.btn-getquote {
	width: 4rem;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--clr-secondary);
	position: absolute;
	bottom: 0;
	transform: translateY(50%);
}
